.user-list{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-self: center;
  margin: 10vw auto;
  width: 200px;
  gap: 10px;
}
.user-list > li{
padding: 10px;
background-color: gray;
cursor: move;
user-select: none;
border: 1px solid black
}
[data-dragging="true"]{
  background-color: skyblue !important;
}
.drag-over{
transition: transform 0.3s;
z-index: -1;
}


